<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker</title>
</head>
<header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                <li><a href="{% url 'projects:list_projects' %}">My projects</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Signup</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<body>
    <main>
        <div>
            <h1>My Projects</h1>
            <div>
                <p>
                    <a href="{% url 'projects:create_project' %}">Create a new project</a>
                </p>
            </div>
            {% if list|length %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Number of Tasks</th>
                    </thead>
                    <tbody>
                        {% for project in list %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                </td>
                                <td>{{ project.tasks.all |length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You are not assigned to any projects</p>
            {% endif %}
        </div>
    </main>
</body>
</html>
